:root{
    --Bg-color:#f7edd9;
    --Black:#000000;
    --White:#FFFFFF;
    --Brown-d:#65371F;
}
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Bg-color);
    font-family: "Nunito", sans-serif;
}

h1{
    font-family: "Kaisei Tokumin", serif;
}
a{
    text-decoration: none;
    color: var(--Black);
}
